<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% objects.forEach((user) => { %>
        <div style="border: solid 2 px black ; margin: 10px;">
            <p> userid : <%= user.userid %></p>
            <p> password_hash :  <%= user.password_hash %></p>
            <p> role : <%= user.role %></p>
            <hr>
        </div>
    <% })%>
    
</body>
</html>