<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <form id="loginForm" action="/login" method="post" >
        <h1>WELLCOME TO IIT DELHI..</h1>
        <input class="hove" id="id" type="text" placeholder="Enter your ID" name="id" required>
        <input class="hove" id="password" type="text" placeholder="Enter your Password" name="password" required>
        <button  type="submit">submit</button>
        </form>
    </div>
    <script src="javascripts/javascript.js"></script>
</body>
</html>
